html {
  font-size: 11px;
  margin: 0;
}

.d-inline {
  display: inline;
}

.btn,
.btn-large,
.btn-small {
  background-color: #20c962;
}

.btn:hover {
  background-color: #20c962 !important;
}

.text-center {
  text-align: center;
}

.navbar {
  display: flex;
  justify-content: space-between;
}

.navbar span {
  line-height: 36px;
  font-size: 1.25rem;
}

.step-title {
  text-align: left;
}

ul.stepper .step .step-content {
  margin-right: 0;
}

.card-row {
  align-items: stretch;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  overflow-x: auto;
  overflow-y: hidden;
}

.card {
  max-width: 250px;
  min-width: 110px;
  flex-basis: 33.333%;
  flex-grow: 0;
  flex-shrink: 0;
  margin-right: 10px;
  margin-left: 10px;
  position: relative;
  border: 2px solid rgba(0, 0, 0, 0);
}

.card-image {
  text-align: center;
}

.card .card-image img {
  display: initial;
}

.card .card-content {
  padding: 10px;
}

.card-skip {
  position: absolute;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  font-size: 3rem;
}

.select {
  border: 2px solid #20c962;
}

.select::before {
  content: '\e5ca';
  font-size: 16px;
  font-family: 'Material Icons';
  position: absolute;
  top: 0px;
  left: 0px;
  background-color: #20c962;
  color: white;
  width: 30px;
  height: 30px;
  padding-left: 4px;
  border-radius: 0 0 100% 0;
  z-index: 1;
}

ul.stepper .step:not(:last-of-type).active {
  padding-bottom: 15px;
}

/* modal */
.modal-title {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.modal-trigger.btn-grey {
  background-color: #757575 !important;
}

.modal-trigger.btn-grey:hover {
  background-color: #616161 !important;
}

#modal2 {
  max-height: 80% !important;
}

ul.stepper .step.active::before,
ul.stepper .step.done::before {
  background-color: #20c962;
}

ul.stepper .step .step-content .step-actions {
  justify-content: center;
}
